/*
 * @Author: Ziad Bennadji
 * @Date: 2021-07-26 17:51:18 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2021-07-26 19:15:39
 * @Role: contains style all buttons
 */
// Importe customze file
@use './../custome' as *;
@use './mixin' as *;
.btn-rounded {
  position: relative;
  padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid rgba($white, 0.6);
  background-color: $white;
  display: block;

  span {
    position: absolute;
    background-color: $primary;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;

    .icon {
      // position: relative;
      color: $white;
      font-size: 1rem;
      line-height: 2.5rem;
      // top: 50%;
      transform: translateY(50%);
    }
  }

  &:hover {
    @include Gradient;
    color: $white;

    span {
      background-color: rgba($secondary, 0.6);
    }
  }
}
